<table class="table">
    <thead>
        <tr>
            <th>Anggaran</th>
            <th>Selisih</th>
        </tr>
    </thead>
    <tbody id="body-realisasi">
        <!-- title -->
        <tr style="font-weight:bold; text-align:center; border-top: 3px solid #f1b10f !important">
            <td rowspan="1" colspan="2">3.1.1 (Pengadaan Buku Teks Siswa)</td>
        </tr>
        <!-- satuan rm -->
        <tr>
            <td><label for="anggaran-harga-satuan-rm-3259">Harga&nbsp;Satuan&nbsp;(RM)</label>
                <input step="any" readonly="" type="number" class="form-control" id="anggaran-harga-satuan-rm-3259"
                    value="0" required="">
            </td>
            <td><label for="selisih-satuan-rm-3259">Selisih Satuan (RM)</label>
                <input step="any" readonly="" type="number" class="form-control" id="selisih-satuan-rm-3259" value="0"
                    required="">
            </td>
        </tr>
        <tr>
            <td rowspan="1" colspan="2"><label for="realisasi-harga-satuan-rm-3259">Harga Satuan Real (RM)</label>
                <input step="any" type="number" class="form-control input-realisasi" data-id="3259" data-tipe="satuan"
                    id="realisasi-harga-satuan-rm-3259" value="0" style="border-bottom:2px solid #333" required="">
            </td>
        </tr>

        <!-- volume -->
        <tr>
            <td><label for="anggaran-volume-3259">Volume</label>
                <input step="any" type="number" class="form-control" id="anggaran-volume-3259" value="1" required=""
                    disabled="">
            </td>
            <td><label for="selisih-volume-3259">Selisih Volume</label>
                <input step="any" readonly="" type="number" class="form-control" id="selisih-volume-3259" value="0"
                    required="">
            </td>
        </tr>
        <tr>
            <td rowspan="1" colspan="2"><label for="realisasi-volume-3259">Volume Realisasi</label>
                <input step="0" type="number" class="form-control input-realisasi" data-id="3259" data-tipe="volume"
                    id="realisasi-volume-3259" value="1" style="border-bottom:2px solid #333" required="">
            </td>
        </tr>

        <!-- total anggaran rm -->
        <tr>
            <td><label for="anggaran-rab-rm-3259">Anggaran&nbsp;RAB&nbsp;(RM)</label>
                <input step="any" readonly="" type="number" class="form-control" id="anggaran-rab-rm-3259" value="0"
                    required="">
            </td>
            <td><label for="selisih-rab-rm-3259">Selisih Anggaran(RM)</label>
                <input step="any" readonly="" type="number" class="form-control" id="selisih-rab-rm-3259" value="0"
                    required="">
            </td>
        </tr>
        <tr>
            <td rowspan="1" colspan="2"><label for="realisasi-total-rm-3259">Total Realisasi (RM)</label>
                <input step="any" readonly="" type="number" class="form-control" id="realisasi-total-rm-3259" value="0"
                    required="">
            </td>
        </tr>

        <!-- total anggaran -->
        <tr>
            <td><label for="anggaran-rab-rp-3259">Anggaran&nbsp;RAB&nbsp;(Rp)</label>
                <input step="any" readonly="" type="number" class="form-control" id="anggaran-rab-rp-3259" value="0"
                    required="">
            </td>
            <td><label for="selisih-rab-rp-3259">Selisih Anggaran(Rp)</label>
                <input step="any" readonly="" type="number" class="form-control" id="selisih-rab-rp-3259" value="0"
                    required="">
            </td>
        </tr>
        <tr style="border-bottom: 3px solid #f1b10f !important">
            <td rowspan="1" colspan="2"><label for="realisasi-total-rp-3259">Total Realisasi (Rp)</label>
                <input step="any" readonly="" type="number" class="form-control" id="realisasi-total-rp-3259" value="0"
                    required="">
            </td>
        </tr>
    </tbody>
</table>